@font-face {
    font-family: letraFuente;
    src: url(./../fonts/MYRIADPRO-REGULAR.OTF);
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(./../img/fondo.png);
}

.logo{
    text-align: center;
    position: relative;
    opacity: 0;
    top: 40vh;
    animation: desaparecer 4s ;
}









@keyframes desaparecer {
    0%{ 
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}