@font-face {
    font-family: letraFuente;
    src: url(./../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: letraLigth;
    src: url(./../fonts/MyriadPro-Light.otf);
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(./../img/fondo.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.logo{
    text-align: center;
    position: relative;
    opacity: 0;
    top: 40vh;
    animation: desaparecer 4s ;
}

.logo2{
    text-align: center;
    position: relative;
    opacity: 0;
    top: 40vh;
    animation: inicio2 6s ease;
}

.cuadroblanco{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 48.75vw;
    height: 70.46vh;
    border-radius: 67px;
    display: flex;
    padding: 20px;
    opacity: 1; 
    flex-direction: column;
    animation: cuadroAparecer 4s;
}

#toggle-submit:checked ~ .cuadroblanco {
    display: none;
}

#toggle-submit:checked ~ .CuadroInicio{
    display: flex;
    animation: inicio 2s;
}

.cuadroblanco img.media {
    width: 5.36vw;
    height: 10.74vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.cuadroblanco h1{
    font-family: letraFuente;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    margin-bottom: 20px
}

.cuadroblanco p{
    font-family: letraLigth;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    opacity: 60%;
}

.cuadroblanco form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1vw;
    margin-left: auto;
    margin-right: auto;
}

.cuadroblanco input {
    margin: 1vh auto 1vh auto;
    border: 1px solid #707070;
    border-radius: 20px;
    font-size: 1.56rem;
    width: 33.85vw;
    height: 4.63vh;
    font-family: letraLigth;
}

.cuadroblanco label{
    opacity: 80%;
    font-size: 1.56rem;
    font-family: letraLigth
}

.cuadroblanco a {
    padding: 0.93vh 1.04vw;
    background-color: #ff7300; 
    color: white;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    align-content: center;
    cursor: pointer;
    width: 17.50vw;
    height: 6.48vh;
    margin: 3vh auto 1vh auto;
    font-size: 1.56rem;
}

.problemas{
    font-size: 0.78vw;
    font-family: letraLigth
}

.CuadroInicio {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 48.75vw;
    height: 50.83vh;
    border-radius: 67px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    animation: inicio 4s;
    opacity: 0;
}


.CuadroInicio img.media {
    width: 5.36vw;
    height: 10.74vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.CuadroInicio img {
    width: auto;
    height: 10.74vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.CuadroInicio h1{
    font-family: letraFuente;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    margin-bottom: 20px
}

.CuadroInicio p{
    font-family: letraLigth;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    opacity: 60%;
}

@keyframes inicio2 {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes inicio {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes cuadroAparecer {
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes desaparecer {
    0%{ 
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}