@font-face {
    font-family: letraFuente;
    src: url(../../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: letraLight;
    src: url(../../fonts/MyriadPro-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: letraFuente;
    background-color: white;
}

img {
    height: 5vh;
    width: 3vw;
}

header {
    background-color: white;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    height: 10vh;
    font-size: 2vw;
}

header .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr auto auto auto;
    gap: 1vw;
    align-items: center;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 1vw;
}

header a:hover {
    color: orange;
    transform: translateY(-2px);
}

header a{
    text-decoration: none;
}

header .logo{
    text-align: center;
}

header .perfil{
    height: auto;
}

main {
    font-family: letraFuente;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.contenidoPerfil {
    background-color: #eee;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    width: 40vw;
    box-sizing: border-box;
    text-align: center;
}

.contenidoPerfil .fotoPerfil{
    position: absolute;
    top: -50px;
    left: 20px;
    border: 4px solid #FF7221;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: white;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.contenidoPerfil .fotoPerfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.datosPerfil{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    text-align: left;
}

.datosPerfil .nombre, .fNacimiento, .cedula, .numCel{
    flex: 1 1 45%;
}

.datosPerfil div p{
    font-family: letraLight;
}

.contenidoPerfil button{
    margin-top: 30px;
    background-color: #535353;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.contraseña{
    background-color: #eee;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.contraseña h3 {
    font-family: letraFuente;
    text-align: center;
}

.contraseña p{
    font-family: letraLight;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.contraseña button{
    display: block;
    margin: 0 auto;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}