@font-face {
    font-family: letraFuente;
    src: url(./../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: letraLigth;
    src: url(./../fonts/MyriadPro-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: letraFuente;
    background-color: white;
}

img {
    background-color: white;
    height: 5vh;
    width: 3vw;
}

header {
    background-color: white;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    height: 10vh;
    font-size: 2vw;
    z-index: 1000;
}

header .container {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr auto auto auto;
    gap: 1vw;
    align-items: center;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 1vw;
}



.container{
    background-color: white;
}

header a:hover {
    background-color: white;
    color: orange;
    transform: translateY(-2px);
}

header a{
    background-color: white;
    text-decoration: none;
    color: black;
}

header .logo{
    background-color: white;
    text-align: center;
}

header .perfil img{
    background-color: white;
    height: auto;
    width: 3vw;
}

.text1{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 8vh;
}

.text1 h1 {
    font-size: 2.5vw;
    font-family: letraFuente, sans-serif;
    font-weight: lighter;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    margin-right: 70%;
}

.contenidoPerfil{
    background-color: #eee;
    padding: 3vw;
    border-radius: 15px;
    position: relative;
    width: 40vw;
    height: 45vh;
    text-align: center;
    box-shadow: 0px 2px 5px black;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 5%;
}

.contenidoPerfil img{
    border: 4px solid #FF7221;
    border-radius: 50%;
    background-color: white;
    top: -13vh;
    left: -12vw;
    height: 15vh;
    width: auto;
    position: relative;
}


.datosPerfil{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5vh;
    text-align: left;
    position: relative;
    top: -10vh;
}

.datosPerfil .nombre, .fNacimiento, .cedula, .numCel{
    flex: 1 1 45%;
}

.datosPerfil p{
    font-family: letraFuente, sans-serif;
}

.datosPerfil h3{
    font-family: letraFuente, sans-serif;
    font-weight: bold;
}
.contenidoPerfil button{
    background-color: #535353;
    color: white;
    border: none;
    position: relative;
    top: -5vh;
    padding: 1.5vh 2vw;
    border-radius: 10px;
    cursor: pointer;
}

.contraseña{
    background-color: #eee;
    padding: 5vh 2.5vw;
    border-radius: 15px;
    width: 30vw;
    box-shadow: 0px 2px 5px black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contraseña h3 {
    font-family: letraFuente, sans-serif;
    text-align: center;
    margin: 1.5vw;
}

.contraseña p{
    font-family: letraFuente, sans-serif;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 7vh;
    color: #333;
}

.contraseña button{
    display: block;
    margin: 0 auto;
    background-color: #555;
    color: white;
    border: none;
    padding: 1.5vh 2vw;
    margin-top: 8vh;
    border-radius: 10px;
    cursor: pointer;
}