@font-face {
    font-family: letraFuente;
    src: url(./../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: letraLigth;
    src: url(./../fonts/MyriadPro-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: letraFuente;
    background-color: white;
}

img {
    background-color: white;
    height: 5vh;
    width: 3vw;
}

header {
    background-color: white;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    height: 10vh;
    font-size: 2vw;
    z-index: 1000;
}

header .container {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr auto auto auto;
    gap: 1vw;
    align-items: center;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 1vw;
}



.container{
    background-color: white;
}

header a:hover {
    background-color: white;
    color: orange;
    transform: translateY(-2px);
}

header a{
    background-color: white;
    text-decoration: none;
    color: black;
}

header .logo{
    background-color: white;
    text-align: center;
}

header .perfil img{
    background-color: white;
    height: auto;
    width: 3vw;
}

.text1{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 8vh;
}

.text1 h1 {
    font-size: 2.5vw;
    font-family: letraFuente, sans-serif;
    font-weight: lighter;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

.text1 p{
    font-size: 1.5vw;
    font-family: letraLigth, sans-serif;
    font-weight: lighter;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    opacity: 70%;
}

.formulario {
    padding: 2vw;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
}

.grupo label {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    color: #333333;
    margin-bottom: 2vh;
    font-family: letraLigth, sans-serif;
}


input,
select,
textarea {
    width: 80%;
    padding: 1.2vh;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 1.1vw;
    background-color: white;
}



textarea {
    height: 8vw;
    resize: vertical;
}

.btn-delete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    text-align: center;
    margin-bottom: 10vh;
    margin-left: 25vw;
    margin-right: 25vw;
}

.btn-delete a {
    background-color: #ff7221;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    font-family: letraLigth, sans-serif;
    padding: 2vh 2.5vw 2vh 2.5vw;
    border-radius: 34px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-delete a:hover {
    transform: translateY(-5px);
}

#cancelacion{
    background-color: #00000050;
}

.consentimientos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 20vw;

}
.manejo{
    margin: 1vw;
}

.listos {
    display: flex;
    align-items: center;
}

.listos input{
    width: 2vw;
    height: 2vh;
}

.listos label {
    font-size: 1.2vw;
    color: #333333;
    font-family: letraFuente, sans-serif;
}



#categoria{
    grid-column: 1/2;
}

#formula{
    grid-column: 1/2;
}

#area{
    grid-column: 2/3;
}

#inicio{
    grid-column: 2/3;
    grid-row: 1/2;
}

#final{
    grid-column: 2/3;
    grid-row: 2/3;
}

#indi{
    grid-column: 2/3;
    grid-row: 3/6;
}