<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="./../style/styleViews/stylePerfil.css">
</head>

<body>
    <header>
        <div class="container">
            <a href="./add.html">
                <img src="./../img/add.svg" alt="">
                <span>Añadir</span>
            </a>
            <a href="./perfil.html">
                <img src="./../img/refresh.svg" alt="">
                <span>Refrescar</span>
            </a>
            <a href="./delete.html">
                <img src="./../img/delete.svg" alt="">
                <span>Eliminar</span>
            </a>
            <a href="principal.html" class="logo">
                <img src="./../img/kario sin kairo.svg" alt="">
            </a>
            <a href="./report.html">
                <img src="./../img/report.svg" alt="">
                <span>Reportar</span>
            </a>
            <a href="./help.html">
                <img src="./../img/help.svg" alt="">
                <span>Ayuda</span>
            </a>
            <img src="./../img/config.svg" alt="" class="config">
            <img src="./../img/noti.svg" alt="" class="noti">
            <a href="./perfil.html">
                <img src="./../img/perfil.png" alt="" class="perfil">
            </a>
        </div>
    </header>
    <h1 class="textoSuperior">
        Mi Perfil
    </h1>
    <main>
        <section class="contenidoPerfil">
            <div class="fotoPerfil">
                <img src=".././img/perfil.png" alt="">
            </div>
            <div class="datosPerfil">
                <div class="nombre">
                    <h3>Nombre Completo</h3>
                    <p>Pedro Felipe Gomez</p>
                </div>
                <div class="fNacimiento">
                    <h3>Fecha de Nacimiento</h3>
                    <p>10/01/25</p>
                </div>
                <div class="cedula">
                    <h3>Cedula de Ciudadania</h3>
                    <p>123456789</p>
                </div>
                <div class="numCel">
                    <h3>Número de Celular</h3>
                    <p>1234567890</p>
                </div>
            </div>
            <button class="actualizar">Actualizar Datos</button>
        </section>
        <section class="contraseña">
            <h3>CONTRASEÑA</h3>
            <p>Una contraseña actualizada siempre es una mejora en seguridad.<br/> Si en algún momento necesitas cambiarla, aquí puedes hacerlo.</p>
            <button>Cambiar Contraseña</button>
        </section>
    </main>
</body>

</html>