<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Indicadores</title>
    <link rel="stylesheet" href="./../style/styleViews/stylePerfil.css">
</head>
<body>

    <header>
        <div class="container">
                <a href="./add.html">
                    <img src="./../img/add.svg" alt="">
                    <span>Añadir</span>
                </a>
                <a href="./perfil.html">
                    <img src="./../img/refresh.svg" alt="">
                    <span>Refrescar</span>
                </a>
                <a href="./delete.html">
                    <img src="./../img/delete.svg" alt="">
                    <span>Eliminar</span>
                </a>
                <a href="./principal.html" class="logo">
                    <img src="./../img/kario sin kairo.svg" alt="">
                </a>
                <a href="./report.html">
                    <img src="./../img/report.svg" alt="">
                    <span>Reportar</span>
                </a>
                <a href="./help.html">
                    <img src="./../img/help.svg" alt="">
                    <span>Ayuda</span>
                </a>
            <img src="./../img/config.svg" alt="" class="config">
            <img src="./../img/noti.svg" alt="" class="noti">
            <img src="./../img/perfil.png" alt="" class="perfil">
        </div>
    </header>
    <section class="Contenido">
        <div class="text1">
            <h1>Panel de Indicadores</h1>
                <p>Aqui puedes visualizar los indicadores propuestos y añadirlos por tu equipo de trabajo.</p>
        </div>

    </section>
</body>
</html>